.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.Ccontent{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

